// 変数
// Note: A、B、C、Dとアルファベット順にする
// ==========================================================================

// color
// --------------------------------------------------------------------------
$color-default: #000;
$color-link: #333;
$color-highlight: #fff;

// font-size
// --------------------------------------------------------------------------


// font-family
// --------------------------------------------------------------------------
$font-family-default: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo, sans-serif;

// line-height
// --------------------------------------------------------------------------
$line-height-default: 1.7;


// media-query
// --------------------------------------------------------------------------
$media-pc: 768px;
$media-sp: 767px;

// width
// --------------------------------------------------------------------------
